.locationsPage_info {
    padding: 20px;
   
}

.locationsPage_info>p {
    margin-bottom: 10px;
    font-size: 16px;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #F3F4F6;
}
