.locationsResults {
    display: flex;
    position: relative;
    margin: 20px;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 100ms ease-in;
    box-shadow: 0 6px 18px -9px rgba(0, 0, 0, 0.75);
  }
  
  .locationsResults:hover {
    transform: scale(1.07);
    box-shadow: 0 8px 16px rgba(0, 0, o, 0.2);
  }
  
  .searchResults_heart {
    position: absolute;
   font-size: 10px;
    right: 40px;
  }
  
  .locationsResults img {
    height: 200px;
    width: 350px;
    padding-right: 20px;
    border-radius: 10px;
  }

  .locationsResults_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
  }
  
  .locationsResults_infoTop {
    width: 40vw;
  }
  
  .locationsResults_infoTop > p {
    font-size: 13px;
    margin-top: 10px;
    color: #6B7280;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
  }
  
  .locationsResults_infoTop > h3 {
    font-weight: 300;
    margin-top: 10px;
  }

  .sub_location{
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    color: #374151;
  }
  
  .locationsResults_infoBottom {
    display: flex;
    justify-content: space-between;
  }
  
  .locationsResults_star {
    color: red;
  }
  
  .locationsResults_stars {
    display: flex;
    align-items: center;
  }
  
  .locationsResults_price {
    position: absolute;
    bottom: 20px;
    right: 30px;
  }
  
  .locationsResults_price p {
    text-align: right;
  }
  