
   .locations-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 40px;
  }

  .locations-header {
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    color: #6B7280;
   width:100%;
   padding: 20px;
   box-sizing: border-box;
   text-decoration: underline;
 
  }
  
  .locations-cards {
    display: flex;
    text-align: left;
    position: relative;
    width:100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 100ms ease-in;
    box-shadow: 0 6px 18px -9px rgba(0, 0, 0, 0.75);
  }
  
  .locations-cards:hover {
    transform: scale(1.07);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .locations-cards img {
    height: 200px;
   width:350px;
    object-fit: cover;
    /* padding-right: 20px; */
    border-radius: 10px;
  }
  
  .location-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
  }

  .location-name {
    font-weight: 600;
    font-size: 24px;
    
    color:#374151;
  }
  
  
  .location-info > p {
    font-size: 13px;
    margin-top: 10px;
    width: 40vw;
    color: #6B7280;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
  }
  
  .description {
    text-align: left;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    color: #6B7280;
  }
  
  .locationsResults_infoBottom {
    display: flex;
    justify-content: space-between;
  }
  
  
  .number-of-stays {
    display: flex;
    margin-top: 10px;
    color: #374151;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
  }

  